@import url('https://fonts.googleapis.com/css?family=Andika');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('http://weloveiconfonts.com/api/?family=entypo');

html,
body,
* {
  margin: 0px;
  padding: 0px;
  transition: background-color 1s ease;
}

body {
  color: white;
  font-family: 'Andika', sans-serif;
  background-color: #1bb996;
}

/* Navigation */
navigation {
  width: 100%;
  position: fixed;
}

navigation ul {
  list-style-type: none;
  margin: 0;
  float: left;
  padding: 1em 0 0 0;
}

navigation li {
  display: inline;
  margin: 20px;
  font-weight: bold;
  font-size: 0.9em;
}


/* Cover photo */
.hero {
  background-image: url('../images/flawless-cover-bw.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 90vh;
  text-align: right;
  padding:8em 2em 4em;
}

section {
  text-align: center;
  padding: 5em 0 3em;
  background-color: #1bb996;
}

/* Link styles */
a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

#faq a {
  color:#2E7AD4;
}

#faq a:hover {
  color:white;
}
#about a {
  color:white;
}
#about .left a:hover {
  color:#2E7AD4;
}

/** Code of conduct */
.conduct {
 font-size: 20px;
}
.conduct a {
  color: #FFBE00;
}

.conduct a:hover {
 color: #403E8E;
}

/* Header styles */
h1 {
  font-size:1.4em;
  margin-bottom:1.2em;
}
h2 {
  font-size:1.2em;
}
h3 {
  font-family:'Merriweather', serif;
}

.flex-container {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
}
.flex-item {
  display:flex;
  flex-wrap: wrap;
  width:45%;
  min-width:300px;
}

/* Panel styles  */
.panel {
  padding:5em 5em;
}

/* ABOUT */

#about {
  background-color:#363636;
}
#about  .flex-item.left li {
  list-style: none;
}
#about  .flex-item.right {
  width:200px;
  margin-right:0;
}
/* Registration button */
.button {
  max-width: 200px;
  margin:1em 0em;
  border: solid 2px;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size:1.3em;
}

.button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.button > a,
.button > a:hover {
  color:white !important;
}

/* FAQ */

#faq {
  background-color:#DCDCDC;
  color: #363636;
}
#faq h3 {
    font-size:1em;
    text-transform: none;
}
#faq p {
  font-size:.85em;
  margin-bottom: 1em;
}
#faq a {
  font-weight: bold;
}
#faq a:hover {
  color:#D85465;
}

/* COLORS */

.color-main {
  background-color: #1BB996;
}

.color-teal {
  background-color: #1BB996;
}

.color-gray {
  background-color: #363636;
}
.color-blue {
  background-color: #006891;
}

.color-red {
  background-color: #D85465;
}

.color-black {
  background-color: #3C4240;
}

.color-orange {
  background-color: #F19031;
}

/* Schedule */

.schedule-mobile { display:none;}
.schedule {
  max-width:600px;
  margin: 0 auto;
  display:flex;
  justify-content:center;
  line-height:2.3em;
}
.time {
  display:inline-block;
  margin: 0 auto;
  margin-right:20px;
  text-align:right;
  float:center;
}
.event {
  display:inline-block;
  margin-right: 0;
  text-align:left;
  float:center;
}

/* Summary */
#summary {
  background-color: #2E7AD4;
}
.content h3 {
  font-size:1.4em;
  line-height: 1.5em;

}
.content {
  max-width: 650px;
  margin: 0 auto;
}
.img-line {
  display:flex;
  flex-wrap:wrap;
}

/* SPONSORS */

#sponsors {
  background-color: #363636;
}
#sponsors a {
  color: #2E7AD4;
}
.sponsorsection {
  margin: 0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.sponsor{
  display:flex;
  margin: 20px;
  background-color: transparent;
  /* border: 2px solid white; */
  border-radius: 3px;
  -webkit-filter: brightness(0) invert(1);
}

.sponsor:hover{
  -webkit-filter: none;
  /* background-color: white; */
}

.sponsor img {
  max-width:100%;
  max-height:100%;
  margin: auto;
}

.platinum {
  width: 280px;
  height:100px;
}

.gold {
  width: 210px;
  height:60px;
}

.silver {
  width: 150px;
  height:40px;
}

/* DAYOF */
.keynote {
  max-width:1000px;
  margin: 0 auto;
  padding:20px;
  display:flex;
  justify-content:center;
  vertical-align: center;
  flex-wrap: wrap;
}
.keynote-card {
  margin: 10px;
  max-width: 400px;
}
.keynote-photo {
  -webkit-filter: grayscale(1) brightness(1.2);
  height:220px;
}
.keynote-photo:hover {
  -webkit-filter: none;
}
.keynote-text {
  max-width: 600px;
  padding-left: 30px;
  text-align:left;
}
.keynote-text p {
  font-size:1.3em;
  font-style: italic;
  margin-bottom:10px;
}
.workshop {
  margin: 20px;
}
.workshop h3 {
  display:inline-block;
}
.workshop h4 {
  font-weight: normal;
  font-style: italic;
}
.workshop p {
  margin: 0 auto;
  padding: 10px 0px;
  max-width: 600px;
  font-size:.9em;
}
.tag {
  display:inline-block;
  text-transform: uppercase;
  font-size:.7em;
  margin-left: 5px;
  padding:4px 6px 1px;
}
.beginner {
  background-color: #006891;
}
.optional {
  background-color: #1bb996;
  margin-left:0px;
  margin-right:10px;
  padding: 6px 6px 2px;
  line-height: 16px;
}
.advanced {
  background-color: #D85465;
}
.workshop > .crown > img{
  height:40px;
  padding: 20px;
}
.mentor-grid {
  max-width:1000px;
  margin: 0 auto;
  padding:20px;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}
.mentor-card{
  margin: 10px;
  max-width: 200px;
}
.mentor-card > p {
  font-style: italic;
}
.mentor-photo {
  -webkit-filter: grayscale(1) brightness(1.2);
  height:140px;
}
.mentor-photo:hover {
  -webkit-filter: none;
}


/* FOOTER */

.bottom {
  position:relative;
  background-color: #363636;
  text-align: left;
  padding: 5em 2em 1em;
}

.footer {
  position: absolute;
  bottom: 10px;
}
.footer a {
  font-size:1.2em;
  margin-right:.5em;
}
.footer a:hover {
  color:#D85465;
}
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* MOBILE */
@media (max-width:780px) {
  .img-line {
    display:none;
  }
}
@media (max-width: 530px) {
  /* This is how it looks on mobile */
  navigation {
    display: none;
  }
  .schedule {
    display:none;
  }
  .schedule-mobile {
    display:block;
  }
  .panel {
    min-height: 100vh;
    padding: 2em;
  }

}
